
.client-main {
  font-family: Arial;
  background: $main-background;
  @include flex-grow(2);
  @include display(flex);
  @include flex-direction(column);
  header {
    @include display(flex);
    @include flex-grow(0);
    @include flex-shrink(0);
    @include align-items(center);
    padding: 1em;
    h1 {
      @include flex-shrink(0);
      font-family: MNT;
      overflow: hidden;
    }
    h2 {
      @include flex-shrink(0);
      @include flex-grow(2);
      font-family: Lato;
      padding-left: 1em;
      overflow: hidden;
    }
  }
  hr {
    @include flex-grow(0);
    @include flex-shrink(0);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px #333;
    height: 1px;
    margin: 0 1em;
  }
  .chat-zone {
    @include display(flex);
    @include flex-grow(1);
  }
  .chat-container {
    @include flex-grow(2);
    @include display(flex);
    @include flex-direction(column);
    .messages-container {
      @include flex-grow(1);
      overflow: auto;
    }

  }
  .chat-sidebar-holder {
    background: red;
    display: none;
    @include flex-grow(0);
    @include flex-shrink(0);
    width: 350px;
    sidebar {
      background: yellow;
      height: 100%;
      position: fixed;
      margin-left: 20px;
      width: 330px;
    }
  }
}

.message {
  @include display(flex);
  padding-left: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  &.mention {
    background: $mention-user;
  }
  &.self {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  &.highlighted {
    background: $chat-highlighted-bg;
    opacity: 1;
    &:hover {
      background: $chat-highlighted-bg;
    }
    .mention-user {
      background: darken($chat-highlighted-bg,20%);
    }
  }
  .mention-user {
    background: darken($mention-user,20%);
    padding: 0 4px;

  }
  .message-avatar {
    @include flex-grow(0);
    @include flex-shrink(0);
    padding: 10px 5px 10px 0;
    width: 35px;
  }
  .message-content {
    @include flex-grow(1);
    padding: 10px 5px;
  }
  .message-title {
    padding: 0.2em 0 0;
    strong {
      font-family: MNT;
      padding-right: 7px;
      font-size: 13px;
    }
    span {
      font-family: Lato;
      font-size: 10px;
      opacity: 0.7;
      padding-right: 5px;
    }
  }
  .content {
    font-size: 13px;
    padding: 0 0 .1rem 0;
    line-height: 22px;
    strong {
      font-weight: bold;
    }
    em {
      font-style: italic;
    }
    u {
      text-decoration: underline;
    }
  }
}

.write-message {
  @include display(flex);
  @include flex-grow(0);
  @include flex-shrink(0);
  height: 60px;
  padding: 1em;
  textarea {
    @include flex-grow(1);
    resize: none;
  }
}

.emoji {
// TODO: Ramiro, stop slothing
}

.message-image {
// TODO: Ramiro, stop slothing
}
