$sidebar-background: #342C22;
$sidebar-text-unread-message: #fff;
$sidebar-text-hover: #fff;
$sidebar-text: #ab9ba9;
$sidebar-text-invited: #FF7B57;
$sidebar-channel: #999;
$sidebar-unread-messages: #fff;
$sidebar-unread-messages-bg: #F41276;
$sidebar-close-channel-bg: #F41276;

$sidebar-invited-bg: #FF2624;
$sidebar-invited: #fff;

$links: #ECD078;
$links-hover: #D95B43;
$sidebar-links: #ECD078;
$sidebar-links-hover: #D95B43;

$status-border: #A68D6C ;
$status-online: #85FFBF;
$status-busy: #FFB224 ;
$status-offline: #AEACB5;

$main-background: #FFFFFE;
