@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


@mixin fadeInOpacity ($name,$typeOfDisplay){
  @keyframes #{$name} {
    0% {
      display:none;
      opacity: 0;
    }

    1% {
      display: $typeOfDisplay ;
      opacity: 0;
    }

    100% {
      display: $typeOfDisplay ;
      opacity: 1;
    }
  }
  @-webkit-keyframes #{$name}  {
    0% {
      display:none;
      opacity: 0;
    }
    1% {
      display: $typeOfDisplay ;
      opacity: 0;
    }

    100% {
      display: $typeOfDisplay ;
      opacity: 1;
    }
  }
}
